* {
  margin: 0px;
}
#header {
  background-color: purple;
  color: white;
  height: 100px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.fixed {
  position: sticky;
  top: 0;
}
#header > h4 {
  margin-top: 20px;
}
#header > h1 {
  padding-top: 10px;
}
#subHeading {
  background-color: rgb(31, 32, 32);
  height: 60px;
}
#subHeading > h2 {
  padding-top: 10px;
  margin-left: 50px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
#subHeading > input:focus {
  outline: none !important;
  border-color: purple;
  box-shadow: 0 0 10px purple;
}
#bodyContent {
  background-color: black;
  height: 100%;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
#bodyContent > h2,
#bodyContent > h3,
#bodyContent > h5 {
  margin-left: 50px;
}
#dish {
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 3px;
  width: 150px;
  height: 30px;
  border: 1px solid black;
}
#ingred {
  margin-top: 10px;
  margin-left: 50px;
  padding-right: 10px;
  border-radius: 3px;
  width: 500px;
  border: 1px solid black;
}
#addInput {
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 3px;
  width: 150px;
  height: 30px;
  border: 1px solid black;
}
#addButton {
  background-color: purple;
  color: white;
  font-family: "Courier New", Courier, monospace;
  border: none;
  height: 35px;
  width: 150px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 50px;
}
#addButton:hover {
  cursor: pointer;
}
#addRecipe {
  background-color: purple;
  color: white;
  font-family: "Courier New", Courier, monospace;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 50px;
}
#addRecipe:hover {
  cursor: pointer;
}
#ind {
  color: white;
}
.checkbox {
  margin-left: 50px;
  margin-top: 10px;
}
.bodyC {
  background-color: black;
  padding-bottom: 70px;
}
